/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
html {
  /*--------------------------------------
    # Colors
    https://primer.style/primitives/
  --------------------------------------*/
  --text-primary: #24292e;
  --text-secondary: #586069;
  --text-tertiary: #6a737d;
  --text-link: #0366d6;
  --text-success: #22863a;
  --text-placeholder: #6a737d;
  --text-hover: #fafbfc;
  --border-active: #f9826c;
  --bg-primary: #ffffff;
  --bg-secondary: #fafbfc;
  --bg-tertiary: #f6f8fa;
  --bg-hover-selected-state: #0366d6;
  --bg-inverse: #24292e;
  --bg-header: #24292e;
  --bg-overlay: #ffffff;
  --bg-counter: rgba(209, 213, 218, 0.5);
  --border-primary: #e1e4e8;
  --border-secondary: #eaecef;
  --border-tertiary: #d1d5da;
  --border-hover-selected-state: #0366d6;
  --border-header-search: #444d56;
  --shadow-focus-state: 0 0 0 3px rgba(3, 102, 214, 0.3);
  --btn-bg: #fafbfc;
  --btn-hover-bg: #f3f4f6;
  --btn-primary-bg: #2ea44f;
  --btn-primary-border: rgba(27, 31, 35, 0.15);
  --btn-primary-hover-bg: #2c974b;
  --btn-primary-disabled-bg: #94d3a2;
  --btn-primary-disabled-text: rgba(255, 255, 255, 0.8);
  --btn-primary-disabled-border: rgba(27, 31, 35, 0.1);
  --btn-border: rgba(27, 31, 35, 0.15);
  --btn-hover-border: rgba(27, 31, 35, 0.15);
  --input-bg: #ffffff;
  --input-contrast-bg: #fafbfc;
  --input-border: #e1e4e8;
  --input-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
  --icon-primary: #24292e;
  --icon-secondary: #586069;
  --icon-tertiary: #959da5;
  --icon-rare: #d1d5da;
  --header-white: #ffffff;
  --shadow-small: 0 1px 0 rgba(27, 31, 35, 0.04);
  /*--------------------------------------
    # Font Weights
  --------------------------------------*/
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  /*--------------------------------------
    # Gutters
  --------------------------------------*/
  --small-gutter: 16px;
  --medium-gutter: 24px;
  --large-gutter: 32px;
  /*--------------------------------------
    # Breakpoints
    https://primer.style/css/support/breakpoints
  --------------------------------------*/
  --small-screen: 544px;
  --medium-screen: 768px;
  --large-screen: 1012px;
  --x-large-screen: 1280px;
}

@media (prefers-color-scheme: dark) {
  html {
    --text-primary: #adbac7;
    --text-secondary: #768390;
    --text-tertiary: #768390;
    --text-link: #539bf5;
    --text-success: #6bc46d;
    --text-placeholder: #545d68;
    --text-hover: #cdd9e5;
    --border-active: #f78166;
    --bg-primary: #22272e;
    --bg-secondary: #22272e;
    --bg-tertiary: #2d333b;
    --bg-hover-selected-state: #316dca;
    --bg-inverse: #cdd9e5;
    --bg-header: #2d333b;
    --bg-overlay: #323941;
    --bg-counter: rgba(118, 131, 144, 0.2);
    --border-primary: #444c56;
    --border-secondary: #373e47;
    --border-tertiary: #636e7b;
    --border-hover-selected-state: #4184e4;
    --border-header-search: #373e47;
    --shadow-focus-state: 0 0 0 3px #143d79;
    --btn-bg: #373e47;
    --btn-hover-bg: #444c56;
    --btn-primary-bg: #347d39;
    --btn-primary-border: #46954a;
    --btn-primary-hover-bg: #46954a;
    --btn-primary-disabled-bg: rgba(52, 125, 57, 0.6);
    --btn-primary-disabled-text: rgba(205, 217, 229, 0.5);
    --btn-primary-disabled-border: #46954a;
    --btn-border: #444c56;
    --btn-hover-border: #768390;
    --input-bg: #22272e;
    --input-contrast-bg: #fafbfc;
    --input-border: #373e47;
    --input-focus-shadow-color: #79b8ff;
    --notification-gradient: linear-gradient(
      rgb(84, 163, 255),
      rgb(0, 110, 237)
    );
    --icon-primary: #adbac7;
    --icon-secondary: #636e7b;
    --icon-tertiary: #545d68;
    --icon-rare: #444c56;
    --header-white: rgba(205, 217, 229, 0.7);
    --shadow-small: 0 0 rgba(0, 0, 0, 0);
  }
}

/*--------------------------------------------------------------
# 1. Normalize
--------------------------------------------------------------*/
/*! preflight base from tailwindcss v2.1.2 | MIT License | https://tailwindcss.com/docs/preflight */
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
    monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */
/**
 * Removes the default spacing and border for appropriate elements.
 */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */
/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */
html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  /* 1 */
  line-height: 1.5;
  /* 2 */
}

/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */
body {
  font-family: inherit;
  line-height: inherit;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */
hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */
img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role='button'] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */
a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */
button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */
pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}

/**
 * Make replaced elements `display: block` by default as that's
 * the behavior you want almost all of the time. Inspired by
 * CSS Remedy, with `svg` added as well.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

/**
 * Constrain images and videos to the parent width and preserve
 * their intrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */
img,
video {
  max-width: 100%;
  height: auto;
}

/*--------------------------------------------------------------
# 2. Base
--------------------------------------------------------------*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components 
  that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: var(--bg-primary);
  /* Fallback for when there is no custom background color defined. */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: 0;
  height: 1px;
  margin-bottom: 24px;
  margin-top: 24px;
}

ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
  vertical-align: middle;
}

button {
  cursor: pointer;
}

button,
input {
  border-radius: 6px;
}

input::-webkit-input-placeholder {
  color: #6a737d;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #6a737d;
  opacity: 1;
}

input::-ms-input-placeholder {
  color: #6a737d;
  opacity: 1;
}

input::placeholder {
  color: #6a737d;
  opacity: 1;
}

details summary {
  cursor: pointer;
}

details:not([open]) > :not(summary) {
  display: none;
}

details[open] summary::before {
  background: transparent;
  bottom: 0;
  content: '';
  cursor: default;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}

/* Firefox */
details summary {
  list-style-type: none;
}

/* Chrome */
details summary::-webkit-details-marker {
  display: none;
}

details summary::marker {
  display: none;
}

img,
svg,
article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

/* Remove IOS input style */
input[type='email'],
input[type='text'],
input[type='tel'],
input[type='password'],
input[type='number'],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

header,
.h-regular-gutters {
  /* Gutters */
  padding-left: var(--small-gutter);
  padding-right: var(--small-gutter);
}

@media (min-width: 768px) {
  header,
  .h-regular-gutters {
    padding-left: var(--medium-gutter);
    padding-right: var(--medium-gutter);
  }
}

@media (min-width: 1012px) {
  header,
  .h-regular-gutters {
    padding-left: var(--large-gutter);
    padding-right: var(--large-gutter);
  }
}

.skip-to-content-link {
  background: var(--bg-hover-selected-state);
  height: 30px;
  left: 50%;
  padding: 8px;
  position: absolute;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.skip-to-content-link:focus {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

/*--------------------------------------------------------------
# 3. Typography
--------------------------------------------------------------*/
html {
  font-size: 62.5%;
}

body {
  color: var(--text-primary);
  font-size: 16px;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: var(--regular);
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--bold);
}

h1 {
  font-size: 2.6rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.2rem;
  }
}

h2 {
  font-size: 2.2rem;
}

@media (min-width: 768px) {
  h2 {
    font-size: 2.4rem;
  }
}

h3 {
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  h3 {
    font-size: 2rem;
  }
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

/*--------------------------------------------------------------
# 4. Helpers
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.h-screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

.h-screen-reader-text:focus {
  background-color: white;
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  color: var(--text-primary);
  display: block;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  font-size: 1.8rem;
}

.h-list-reset {
  list-style: none;
  padding: 0;
}

.h-text-left {
  text-align: left;
}

.h-text-center {
  text-align: center;
}

.h-text-right {
  text-align: right;
}

.h-show {
  display: block;
}

.h-hide {
  display: none;
}

.h-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 544px) {
  .h-hidden-small-up {
    display: none;
  }
}

@media (min-width: 768px) {
  .h-hidden-medium-up {
    display: none;
  }
}

@media (max-width: 543px) {
  .h-hidden-small-down {
    display: none;
  }
}

@media (max-width: 767px) {
  .h-hidden-medium-down {
    display: none;
  }
}

.h-mr-16 {
  margin-right: 16px;
}

.h-no-margin {
  margin: 0;
}

.h-clicked-form {
  background-color: var(--input-bg);
}

.h-clicked-form .header-form__input {
  color: var(--text-primary);
  margin-right: 0;
}

.h-clicked-form .header-form__input::-webkit-input-placeholder {
  color: var(--text-placeholder);
}

.h-clicked-form .header-form__input:-ms-input-placeholder {
  color: var(--text-placeholder);
}

.h-clicked-form .header-form__input::-ms-input-placeholder {
  color: var(--text-placeholder);
}

.h-clicked-form .header-form__input::placeholder {
  color: var(--text-placeholder);
}

@media (prefers-color-scheme: dark) {
  .h-clicked-form .header-form__input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
  }
  .h-clicked-form .header-form__input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
  }
  .h-clicked-form .header-form__input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
  }
  .h-clicked-form .header-form__input::placeholder {
    color: rgba(255, 255, 255, 0.75);
  }
}

.h-clicked-form .header-form__icon {
  display: none;
}

.h-clicked-form-desktop {
  max-width: 542px !important;
}

/*--------------------------------------------------------------
# 5. Components
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# -- 5a. Preloader
--------------------------------------------------------------*/
.preloader-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.preloader-container.h-hide {
  display: none;
}

.preloader {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  border: 2.5px solid var(--border-primary);
  border-top: 2.5px solid var(--bg-inverse);
  border-right: 2.5px solid var(--bg-inverse);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
  margin: 200px auto 0;
}

.preloader.h-hide {
  display: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# -- 5b. Header
--------------------------------------------------------------*/
.header {
  background-color: var(--bg-header);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 16px;
  padding-top: 16px;
  width: 100%;
}

@media (min-width: 768px) {
  .header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 12px;
    padding-top: 12px;
  }
}

.header svg {
  fill: var(--header-white);
}

.header-group-1 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .header-group-1 {
    margin-right: 16px;
  }
}

.header-hamburger {
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.header-notification {
  position: relative;
}

@media (min-width: 768px) {
  .header-notification {
    margin-right: 16px;
  }
}

.header-notification__modifier--mobile,
.header-notification__modifier--desktop {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#54a3ff),
    to(#006eed)
  );
  background: linear-gradient(#54a3ff, #006eed);
  border: 2px solid var(--bg-header);
  border-radius: 50%;
  height: 14px;
  left: 6px;
  line-height: 21px;
  overflow-wrap: break-word;
  padding: 1px;
  position: absolute;
  top: -6px;
  width: 14px;
}

.header-group-3 {
  padding-top: 16px;
}

.header-form {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--border-header-search);
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 28px;
  height: 30px;
  margin-bottom: 16px;
  min-height: 28px;
  width: 100%;
}

.header-form:focus-within {
  border: 1px solid var(--border-hover-selected-state);
}

@media (prefers-color-scheme: dark) {
  .header-form {
    background-color: var(--input-bg);
  }
}

@media (min-width: 768px) {
  .header-form {
    margin-bottom: 0;
    margin-right: 16px;
    max-width: 272px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transition-property: max-width, margin-right;
    transition-property: max-width, margin-right;
  }
}

.header-form__input {
  background-color: transparent;
  border: 0;
  font-size: 1.4rem;
  min-height: 28px;
  padding: 0 12px;
  width: 100%;
  color: var(--bg-primary);
}

@media (prefers-color-scheme: dark) {
  .header-form__input {
    color: var(--text-primary);
  }
}

.header-form__input::-webkit-input-placeholder {
  color: var(--text-placeholder);
}

.header-form__input:-ms-input-placeholder {
  color: var(--text-placeholder);
}

.header-form__input::-ms-input-placeholder {
  color: var(--text-placeholder);
}

.header-form__input::placeholder {
  color: var(--text-placeholder);
}

@media (prefers-color-scheme: dark) {
  .header-form__input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
  }
  .header-form__input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
  }
  .header-form__input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
  }
  .header-form__input::placeholder {
    color: rgba(255, 255, 255, 0.75);
  }
}

.header-form__input:focus {
  outline: 2px auto -webkit-focus-ring-color;
  outline: 2px solid transparent;
}

@media (min-width: 768px) {
  .header-form__input {
    margin-bottom: 0;
    margin-right: 16px;
    max-width: 542px;
  }
}

.header-form__icon {
  margin-right: 8px;
}

.header-nav-link {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  color: var(--header-white);
  display: block;
  font-size: 1.4rem;
  font-weight: var(--bold);
  height: 38px;
  padding: 8px 0;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .header-nav-link {
    border-top: 0;
  }
}

.header-nav-link:hover {
  opacity: 0.7;
  text-decoration: none;
}

@media (min-width: 1012px) {
  .header-nav-link .h-hidden-up-1012 {
    display: none;
  }
}

@media (max-width: 1011px) {
  .header-nav-link .h-hidden-down-1012 {
    display: none;
  }
}

.header-nav__avatar {
  border-radius: 50%;
}

.header-nav-link--flexed {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav-link--flexed img,
.header-nav-link--flexed svg {
  margin-right: 5px;
}

@media (min-width: 768px) {
  .desktop-header-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

.desktop-menu-container {
  width: 100%;
}

.desktop-menu,
.header-nav-list--desktop,
.header-group-4 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.desktop-menu {
  width: 100%;
}

.header-nav-list__item--desktop {
  margin-right: 16px;
}

.header-dropdown-container {
  position: relative;
}

.first-dropdown-container {
  margin-right: 16px;
}

.second-dropdown-container {
  padding-right: 8px;
}

.header-dropdown-button div {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown-button-icon {
  border-radius: 50%;
  margin-right: 3.8px;
}

.header-dropdown-arrow {
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid var(--header-white);
  display: inline-block;
  height: 0;
  width: 0;
}

.header-dropdown {
  background-color: var(--bg-overlay);
  border: 1px solid var(--border-primary);
  border-radius: 6px;
  left: auto;
  margin-top: 6px;
  padding: 4px 0;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 2;
}

.header-dropdown.h-small-width {
  width: 160px;
}

.header-dropdown.h-medium-width {
  width: 180px;
}

.header-dropdown::before {
  border: 8px solid transparent;
  border-bottom: 8px solid var(--border-primary);
  content: '';
  display: inline-block;
  left: auto;
  position: absolute;
  right: 9px;
  top: -16px;
}

.header-dropdown-item {
  padding: 4px 8px 4px 16px;
}

.header-dropdown-item.username-container {
  padding: 8px 16px;
  padding-bottom: 0;
}

.header-dropdown-item.dropdown-status-container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding-bottom: 0;
  padding-top: 0;
  width: 100%;
}

.header-dropdown-item .avatar__status {
  margin-bottom: 0;
}

.header-dropdown-item .h-grey-fill svg {
  fill: var(--icon-secondary);
}

.header-dropdown-item:hover {
  background-color: var(--bg-hover-selected-state);
  cursor: pointer;
}

.header-dropdown-item:hover .header-dropdown-link {
  color: var(--header-white);
  text-decoration: none;
}

.header-dropdown-item:hover .h-grey-fill svg {
  fill: var(--text-link);
}

.username-container:hover,
.dropdown-status-container:hover {
  background-color: transparent;
}

.header-dropdown-item.username-container:hover .header-dropdown-link {
  color: var(--text-primary);
}

.header-dropdown-divider {
  border-top: 1px solid var(--border-primary);
  display: block;
  height: 0;
  margin: 8px 0;
}

.header-dropdown-link {
  font-size: 1.4rem;
}

.header-dropdown-link .username-text {
  font-weight: var(--bold);
}

/*--------------------------------------------------------------
# -- 5c. Main Content
--------------------------------------------------------------*/
.main {
  margin: auto;
}

@media (min-width: 768px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .main-desktop-right {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
}

/*--------------------------------------------------------------
# -- 5d. Account Details (Sidebar)
--------------------------------------------------------------*/
@media (min-width: 768px) {
  .account-details {
    margin-top: -32px;
    max-width: 312px;
    padding-right: 8px;
    position: relative;
    width: 26.04%;
  }
}

@media (min-width: 1012px) {
  .account-details {
    padding-left: 32px;
    padding-right: 16px;
  }
}

@media (min-width: 1280px) {
  .account-details {
    padding-left: 16px;
  }
}

.avatar-and-names {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
  width: 100%;
}

@media (min-width: 768px) {
  .avatar-and-names {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;
    position: relative;
  }
}

.avatar {
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 16px;
  width: 16.6667%;
}

@media (min-width: 768px) {
  .avatar {
    margin-right: 0;
    position: relative;
    width: 100%;
    z-index: 2;
  }
}

.avatar__status--mobile {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--border-primary);
  color: var(--text-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: var(--icon-primary);
  font-size: 1.2rem;
  height: 33px;
  margin-bottom: 8px;
  padding: 0 8px;
  width: 100%;
}

@media (min-width: 768px) {
  .avatar__status--mobile.h-hidden-medium-up {
    display: none;
  }
}

.avatar__status--mobile .avatar-status-image-container {
  font-size: 15px;
  margin-right: 8px;
}

.avatar__status--mobile .avatar-status__text {
  text-align: left;
  white-space: nowrap;
  overflow: auto;
}

.avatar__status--mobile:hover {
  color: var(--text-link);
  fill: var(--text-link);
}

.avatar__status--desktop {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--bg-primary);
  border: 1px solid var(--border-primary);
  border-radius: 45px;
  bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: var(--icon-primary);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 80%;
  padding: 10px;
  position: absolute;
  height: auto;
  width: auto;
  max-width: 38px;
  max-height: 38px;
}

@media (max-width: 767px) {
  .avatar__status--desktop.h-hidden-medium-down {
    display: none;
  }
}

.avatar__status--desktop .avatar-status-image-container {
  min-width: 16px;
  min-height: 16px;
}

.avatar__status--desktop:hover {
  border-radius: 45px;
  -webkit-box-shadow: var(--shadow-small);
  box-shadow: var(--shadow-small);
  color: var(--text-link);
  fill: var(--text-link);
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.avatar__status--desktop:hover .avatar-status__text {
  /* Style status text only if it exists */
}

.avatar__status--desktop:hover .avatar-status__text:not(:empty) {
  display: inline-block;
  font-size: 12px;
  margin-left: 8px;
}

.avatar__link {
  display: block;
}

.main-avatar-image {
  border: 1px solid var(--border-primary);
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 1px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 1px;
  display: inline-block;
}

@media (min-width: 768px) {
  .main-avatar-image {
    width: 100%;
  }
}

.avatar-status__text--desktop {
  font-size: 12px;
  white-space: nowrap;
}

.account-heading {
  padding-left: 8px;
  width: 83.3333%;
}

@media (min-width: 768px) {
  .account-heading {
    margin: 16px 0;
    padding-left: 0;
    width: 100%;
  }
}

.account-heading__fullname,
.account-heading__username {
  display: block;
}

.account-heading__fullname {
  font-size: 2.6rem;
  line-height: 32.5px;
}

.account-heading__username {
  color: var(--text-secondary);
  font-size: 2rem;
  font-weight: var(--regular);
  line-height: 24px;
}

.account-bio {
  margin-bottom: 24px;
}

/*--------------------------------------------------------------
# -- 5e. Repository Navigation
--------------------------------------------------------------*/
.main__nav {
  background-color: var(--bg-primary);
  border-bottom: 1px solid var(--border-primary);
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

@media (min-width: 768px) {
  .main__nav {
    margin-top: 24px;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    width: 100%;
    z-index: 1;
  }
}

.main-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (min-width: 768px) {
  .main-nav-list {
    margin: auto;
    max-width: 1280px;
  }
}

@media (min-width: 1280px) {
  .main-nav-list {
    padding-left: var(--large-gutter);
    padding-right: var(--large-gutter);
  }
}

@media (min-width: 1280px) and (max-width: 1339px) {
  .main-nav-list {
    padding-left: var(--small-gutter);
    padding-right: var(--small-gutter);
  }
}

@media (min-width: 1280px) and (max-width: 1290px) {
  .main-nav-list {
    padding-left: 0;
    padding-right: 0;
  }
}

.main-nav-user {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  opacity: 0;
  padding-right: 15%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  max-width: 25.5%;
  min-width: 25.5%;
}

@media (max-width: 767px) {
  .main-nav-user {
    display: none;
  }
}

@media (min-width: 1012px) {
  .main-nav-user {
    padding-right: 17.5%;
  }
  .main-nav-user .username-text {
    white-space: nowrap;
  }
}

@media (min-width: 1280px) {
  .main-nav-user {
    padding-right: 18%;
  }
}

.main-nav-user .avatar__image {
  border-radius: 50%;
  margin-right: 8px;
}

.main-nav-link {
  display: block;
  font-size: 1.4rem;
  line-height: 30px;
  padding: 8px 16px;
}

.main-nav-link:hover {
  border-bottom: 2px solid var(--border-tertiary);
  text-decoration: none;
}

.main-nav-link--selected {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid var(--border-active);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: var(--bold);
}

.main-nav-link--selected:hover {
  border-bottom: 2px solid var(--border-active);
}

.main-nav-link__count {
  background-color: var(--bg-counter);
  border-radius: 24px;
  font-size: 1.2rem;
  line-height: 18px;
  margin-left: 7px;
  padding: 1px 6px;
}

@media (min-width: 544px) {
  .main-nav-link {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 544px) {
  .main-nav-link__icon {
    fill: var(--icon-tertiary);
    margin-right: 7px;
  }
  .main-nav-link__icon.main-nav-link__icon--selected {
    fill: var(--icon-primary);
  }
}

/*--------------------------------------------------------------
# -- 5f. Repositories
--------------------------------------------------------------*/
@media (min-width: 768px) {
  .main__content {
    max-width: 936px;
    padding-left: 8px;
    width: 73.96%;
  }
}

@media (min-width: 1012px) {
  .main__content {
    padding-left: 16px;
    padding-right: 32px;
  }
}

@media (min-width: 1280px) {
  .main__content {
    padding-right: 16px;
  }
}

/*--------------------------------------------------------------
#  -- 5g. Repositories Search
--------------------------------------------------------------*/
.repo-search,
.repo-search__form,
.repo-search__input {
  width: 100%;
}

.repo-search__form {
  border-bottom: 1px solid var(--border-primary);
  padding: 16px 0;
}

.repo-search__input {
  border: 1px solid var(--border-primary);
  background-color: var(--input-bg);
  font-size: 1.4rem;
  line-height: 20px;
  padding: 5px 12px;
}

.repo-search__input:focus {
  outline: 2px auto -webkit-focus-ring-color;
  outline: 2px solid transparent;
  border: 1px solid var(--border-hover-selected-state);
  -webkit-box-shadow: var(--shadow-focus-state);
  box-shadow: var(--shadow-focus-state);
}

.repo-search__input::-webkit-input-placeholder {
  color: var(--text-placeholder);
}

.repo-search__input:-ms-input-placeholder {
  color: var(--text-placeholder);
}

.repo-search__input::-ms-input-placeholder {
  color: var(--text-placeholder);
}

.repo-search__input::placeholder {
  color: var(--text-placeholder);
}

/*--------------------------------------------------------------
# -- 5h. Repositories Search Results
--------------------------------------------------------------*/
.repo-search__desc {
  border-bottom: 1px solid var(--border-primary);
  font-size: 1.4rem;
  margin-bottom: 0;
  padding: 16px 0;
}

.repo-search__desc strong {
  font-weight: var(--bold);
}

/*--------------------------------------------------------------
# -- 5i. Single Repositories
--------------------------------------------------------------*/
.repos .h-flex {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.single-repo {
  border-bottom: 1px solid var(--border-primary);
  padding: 24px 0;
}

.single-repo svg {
  fill: var(--icon-secondary);
}

.single-repo__left {
  width: 83.3333%;
}

.single-repo__name {
  margin-bottom: 4px;
  overflow-wrap: break-word;
  word-break: break-all;
}

.single-repo__link {
  color: var(--text-link);
  font-size: 2rem;
  line-height: 30px;
  -webkit-text-decoration-color: var(--text-link);
  text-decoration-color: var(--text-link);
}

.repo-details a:hover {
  color: var(--text-link);
  text-decoration: none;
}

.repo-details a:hover span {
  color: var(--text-link);
}

.repo-details a:hover svg {
  fill: var(--text-link);
}

.repo-details__parent {
  display: block;
  font-size: 1.2rem;
  line-height: 18px;
  margin-bottom: 8px;
}

.repo-details__parent a:hover {
  color: var(--text-link);
}

.repo-details__description {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 21px;
  margin-bottom: 8px;
  padding-right: 24px;
  width: 75%;
}

.repo-details__indicators {
  font-size: 1.2rem;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 8px;
}

.repo-details__indicators .repo-stars svg,
.repo-details__indicators .repo-forks svg,
.repo-details__indicators .repo-license svg {
  margin-right: 4px;
}

.repo-language,
.repo-stars,
.repo-forks,
.repo-license {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.repo-language__colour {
  background-color: indigo;
  border-radius: 50%;
  height: 12px;
  margin-right: 4px;
  width: 12px;
}

.single-repo__right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 16.6667%;
}

@media (max-width: 407px) {
  .single-repo__right {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.star-button {
  background-color: var(--btn-bg);
  border: 1px solid var(--btn-border);
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: var(--semi-bold);
  min-width: 72px;
  padding: 5px 12px;
  height: auto;
  -ms-flex-item-align: start;
  align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.star-button:hover {
  background-color: var(--btn-hover-bg);
}

.star-button__text {
  margin-left: 4px;
}

/*--------------------------------------------------------------
# -- 5j. Footer
--------------------------------------------------------------*/
.footer {
  margin: 40px auto 48px;
}

.footer-wrapper {
  border-top: 1px solid var(--border-primary);
  width: 100%;
  max-width: 1216px;
  margin: auto;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1011px) {
  .footer-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (min-width: 1012px) {
  .footer-wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.footer-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 1.2rem;
}

@media (max-width: 1011px) {
  .footer-nav-list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 8px;
  }
}

@media (min-width: 1012px) {
  .footer-nav-list {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    width: 100%;
  }
  .footer-nav-list.h-justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50%;
  }
}

.footer-nav-list__item {
  color: var(--text-link);
}

.footer-nav-list__item.text-grey {
  white-space: nowrap;
}

@media (max-width: 1011px) {
  .footer-nav-list__item {
    margin-right: 16px;
  }
  .footer-nav-list__item:last-of-type {
    margin-right: 0;
  }
  .footer-nav-list__item.text-grey {
    color: var(--text-secondary);
  }
}

.footer-link {
  color: var(--text-link);
}

@media (max-width: 1011px) {
  .footer-logo-list-item {
    display: none;
  }
}

.footer-logo {
  fill: var(--icon-rare);
}

.footer-logo:hover {
  fill: var(--icon-tertiary);
}
